<div class="container-fluid bg">
    <div class="row d-flex justify-content-center p-0 m-0">
      <div class="content d-flex flex-colum align-items-center justify-content-center p-0">
        <div class="col p-5">
          <div class="topicLogin d-flex flex-colum justify-content-center mb-3">ยินดีต้อนรับ</div>
          <div class="mb-4 formSize">
            <input type="text" class="form-control fontInForm" placeholder="username">
          </div>
          <div class="mb-3 formSize">
            <input type="password" class="form-control fontInForm" placeholder="password" style="color: grey;">
          </div>
          <div class="d-flex flex-colum justify-content-center"> <button type="button"
              class="btn btn-grad mt-4" routerLink="/home">เข้าสู่ระบบ</button>
          </div>
        </div>
      </div>
    </div>
  </div>