<div class="container-fluid bg">
    <div class="box-center box-center2 d-flex flex-column text-title">
        <div class="row">
            <div class="col-6 col-md-6 col-xl-6 col-sm-12">
                <button type="button" class="btn-picking btn" (click)="goToEXhome()">
                    <div class="row p-0 m-0">
                        <div class="col-md-5 col-sm-5 col-5 ms-3">
                            <div class="logo"><i class="fa-solid fa-user-pen"></i></div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-5 p-0">
                            <div class="text-btn mt-4">อาจารย์ผู้ตรวจสอบภาระงาน</div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-6 col-md-6 col-xl-6 col-sm-12">
                <button type="button" class="btn-picking btn" (click)="goToEXhome()">
                    <div class="row p-0 m-0">
                        <div class="col-md-5 col-sm-5 col-5 ms-3">
                            <div class="logo"><i class="fa-solid fa-chalkboard-user"></i></div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-5 p-0">
                            <div class="text-btn mt-4">อาจารย์ทัั่วไป</div>
                        </div>
                    </div>
                </button>
            </div>

        </div>
    </div>