.bg {
    background-image: url(../../admin/admin-home/adminHomeBG.png);

    width: 100%;
    min-height: 100vh;
    /* @media only screen and (max-width: 1400px){
       height: 1400px;
    } */
    background-size: cover;
  } 
.nav-item{
   color: #ffff;
   margin-right: 0px;
}
.nav-link{ 
   color:white;
}
.content {
   /* font-family: 'FCiconicReg'; */
   margin-top: auto;
   margin-bottom: auto;
   
   border-radius: 10px;
   width: 550px;
   height: 500px;
   position: absolute;
   top: 50%;
   right: 60%;
   transform: translate(0%,-50%);
   /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25); */
 
   @media only screen and (max-width: 700px) and (min-width: 550px){
     width: 450px;
     height: 400px;
   }
 
   @media only screen and (max-width: 549px){
     width: 370px;
     height: 400px;
   }
   
   @media only screen and (max-width: 420px) and (min-width: 350px){
     width: 300px;
     height: 400px;
   }
 
   @media only screen and  (max-width: 349px) and (min-width: 270px){
     width: 250px;
     height: 400px;
   }
 
   @media only screen and (max-width: 269px){
     width: 210px;
     height: 380px;
   }
 
 }
 .topicLogin{
   font-size: 32pt;
   color: white;
   font-weight: bold;
   letter-spacing: 10px;
 
   @media only screen and (max-width: 700px) and (min-width: 550px){
     font-size: 30pt;
   }
 
   @media only screen and (max-width: 420px) and (min-width: 350px){
     font-size: 26pt;
   }
 
   @media only screen and (max-width: 349px) and (min-width: 270px){
     font-size: 20pt;
   }
 
   @media only screen and (max-width: 269px){
     font-size: 18pt;
   }
 }
 .gradient-text {
   font-size: 30pt;
   font-weight:bolder;
   /* Fallback: Set a background color. */
   background-color: red;
   
   /* Create the gradient. */
   background-image: linear-gradient(45deg, #303F9F, #2196F3);
   
   /* Set the background size and repeat properties. */
   background-size: 100%;
   background-repeat: repeat;
 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
 }
 .btn-grad {
   background-image: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;     
   border-radius: 10px;
   display: block;
   box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
   border-radius: 40px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   border-radius: 40px;
 }
          
 .btn-grad-add {
   background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;     
   border-radius: 10px;
   display: block;
   box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
   border-radius: 40px;
 }

 .btn-grad-add:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   border-radius: 40px;
 }
